*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #422;
  color: rgb(207, 206, 206);
}
.App{
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: rgb(207, 206, 206);
  border: 2px solid rgb(207, 206, 206);
  padding: 10px;
  text-decoration: none;
  height: 40px;
  background-color: gray;
  border-radius: 6px;
}
nav{
  background-color: rgba(0, 0, 0, 0.377);
  height: 60px; 
  width: 125.5%;
  margin-left: -13%;
  display: flex;
  font-display: row;
  justify-content: space-around;
  align-items: center;
}
input{
  margin: 10px 0;
}

table{
  border: 1px solid pink;
  width: 100%;
}

th{
  border: 2px solid pink;
}
