*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #422;
  color: rgb(207, 206, 206);
}
.App{
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: rgb(238, 235, 235);
  border: 2px solid rgb(207, 206, 206);
  padding: 10px;
  text-decoration: none;
  height: 40px;
  background-color: rgb(137, 161, 177);
  border-radius: 6px;
}
nav{
  background-color: rgba(0, 0, 0, 0.377);
  height: 60px; 
  width: 125.5%;
  margin-left: -13%;
  display: flex;
  font-display: row;
  justify-content: space-around;
  align-items: center;
}
input{
  margin: 10px 0;
}

table{
  border: 1px solid pink;
  width: 100%;
}

th{
  background-color: rgba(0, 0, 0, 0.226);
  padding: 10px;
}

td{
  padding: 12px;
  border: 1px solid gray;
  background-color: rgba(0, 0, 0, 0.377);
}
td a, [type='button']{
  color: rgb(66, 66, 66);
  border: 1px solid rgb(207, 206, 206);
  padding: 2px;
  text-decoration: none;
  height: 20px;
  background-color: rgb(197, 168, 168);
  border-radius: 2px; 
  margin: 0 2px;
  font-size: 14px;
}

.error{
  color:rgba(207, 3, 3, 0.521);
  border: 1px solid red;
  padding: 10px;
  background-color: rgba(219, 205, 205, 0.425);
  font-weight: bold;
  text-transform: uppercase;
}


/* spacing table styling */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 10px;
}

/* typography */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  text-transform: uppercase;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: .6px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

/* graphics */

thead, tfoot {
  background: url(./leopardskin.jpg);
  color: white;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid purple;
  text-shadow: 1px 1px 1px black;
}

tbody tr:nth-child(odd) {
  background-color: #ff33cc;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr {
  background-image: url(./noise.png);
}
tbody tr:hover{
  background-color: #a132a1; 
}

table {
  background-color: #ff33cc;
}

/* caption */

caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #777;
  text-align: right;
  letter-spacing: 1px;
  font-size: 20px;
}